@model DoAnWeb.Models.Book

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.Title</h2>
<hr />
<div class="row">

    <div class="col-1"></div>
    <div class="col-4">
        <dl class="dl-horizontal">
            <dd>
                <img src="~/Assest/Thumnail/@Model.ImgUrl" style="width:258px;height:384px">
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <dl class="dl-horizontal">
            <h3>
                <dt>
                    @Html.DisplayName("Tác giả") :  @Html.DisplayFor(model => model.Author.AuthorName)
                </dt>
            </h3>
            <b>@Html.DisplayName("Mã Sách") : </b>@Html.DisplayFor(model => model.BookId)
            <b>@Html.DisplayName("Tóm Tắt") : </b>@Html.DisplayFor(model => model.Summary)
            <dd>
                @if (Model.IsActive == false)
                {
                    <i class="fas fa-exclamation-triangle" style="font-size:30px;color:red"></i>
                    <label style="font-size:40px;color:red">Ngừng Bán</label>
                }
                else
                {
                    <b>Giá Tiền : </b>
                    <label style="font-style:oblique; color:red; width:unset ;font-size:xx-large; text-transform:fullsize-kana">
                        @Html.DisplayFor(model => model.Price) VND
                    </label>
                }
            </dd>
            <dd>
                <b>Số Lượng : </b>@Html.DisplayFor(model => model.Quantity)
            </dd>

            <dd>
                <b>Ngày Xuất Bản : </b>@Model.CreatedDate.ToString("dd/MM/yyyy")
            </dd>
            <dd>
                <b>Ngày Tái Bản : </b>@Model.ModifiedDate.ToString("dd/MM/yyyy")
            </dd>
            <dd>
                <b>Thể Loại : </b>@Html.DisplayFor(model => model.Category.CateName)
            </dd>
            <dd>
                <b>Nhà Xuất Bản : </b>@Html.DisplayFor(model => model.Publisher.Name)
            </dd>
        </dl>
    </div>
    <div class="col-1"></div>
</div>


<p>
    @Html.ActionLink("Chỉnh Sửa", $"Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Về Danh Sách Chính", "Index")
</p>
<script src="~/Scripts/jquery-3.3.1.js"></script>
